<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Ljj.Mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.Ljj.Entity.User">
        <result column="user_id" jdbcType="INTEGER" property="user_id" />
        <result column="user_name" jdbcType="VARCHAR" property="user_name" />
        <result column="user_pwd" jdbcType="VARCHAR" property="user_pwd" />
    </resultMap>

    <select id="Sel" resultType="com.Ljj.Entity.User">
        select * from user where user_id = #{id}
    </select>

</mapper>